span,div{position:relative}
}
/*#header,#content,#footer,#wrapper {width:800px; margin:0px auto;}*/
#header,#content,#footer,#wrapper {width:100%; height: auto;margin:0px auto;}
.menu {}
.menu>div {text-align:center}
* {font-family:"Times New Roman", Times, serif;font-size:15px}
input, select {border-radius:6px; margin:1px; border:2px solid #bbbbbb; outline:none;}
input[type=text],select{width:100%}
select{width:100%; font-size:17px}
input[type=button]{background-color:#d0d0d0}
select:focus,input:focus	{background-color:#efefef; }

.message {z-index:1000;border:0px solid black; border-radius:3px;}
.row {margin: 5px 0px;}


.section {border:0.5px solid #efefef; border-radius:20px; margin:15px 0px;padding:10px 0px;}
.clear {clear:both;}
iframe {width:100%; border:0px; height:350px}

.text {display:none;}
.new{background: #FF2200; color:red;} !important

@media (max-width:700px)
{
	.heading {left:30px;}
   .conditional-clear {clear:both;}
   .birthday-container {width:100%; margin:0px; padding:0px;}
   .menu {font-size:13px;}
}

@media (min-width:800px)
{
   #header,#content,#footer,#wrapper {width:1100px; margin:0px auto;}
}
